body{
margin: 0;
padding: 0;
font-family: sans-serif;
background-size: cover;
background: url("https://images.unsplash.com/photo-1657651386832-1657c5b90c14?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw0N3x8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60");
}
.box{
    width: 300px;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.4);
    position: absolute;
    text-align: center;
}
.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 700;
}
.box input[type="text"],.box input[type="password"]{
    border: 0;
    background:white;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #0367fd;
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color:black;
    font-weight: 500;
    border-radius: 24px;
    transition: .25px;
}

.box input[type="text"]:focus ,.box input[type="password"]:focus{
    width: 270px;
    border-color: orange;

}
.box input[type="submit"]{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid yellow;
    padding: 14px 35px;
    outline: none;
    color:white;
    border-radius: 24px;
    transition: .25px;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: orange;

}
